<h1>Hi <%= name %></h1>
<h2>your token is verified.. </h2>

<h3>You are successfully logged in.</h3>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>